<div class="jumbotron">
      <h1> Welcome To Promotely.co</h1>
      <p>Using social influence to Increase Your Sales</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>



